body {

    font-family: 'Courier New', Courier, monospace, 'Times New Roman', Times, serif, Verdana, Geneva, Tahoma, sans-serif;
    background-color: azure;

}

.container {

    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

#result {

    margin-left: auto;
    margin-right: auto; 
    margin-top: 10px;
    font-weight: 600;
    color: red;
}

.heading {

    font-weight: 600;
    text-align: left;
    padding-right: 30px;
}

h4 {

    margin-left: -270px;
}

h1, h4 {

    color: rgb(175, 175, 175);
}

button {

    color: white;
    background-color: rgb(77, 77, 224);
}

select {

    width: 10rem;
}

#slidebar  {

    margin-left: 25px;
}
